<h1>Home#index</h1>

<p>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
</p>
<p>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
</p>
<p>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
</p>
<p>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
  <b>Hello world...</b>
</p>

<div ng-controller="ProceduresCtrl">

  <div id="procedure-list-container">
    <h3>Search: <input ng-model="query"></h3>
    <ul>
      <li ng-repeat="procedure in procedures | filter:query"
          ng-click="showProcedure(procedure)">
        <h3>{{procedure.name}} <small>({{procedure.location}})</small></h3>
        <h3>{{procedure.name}} <small>({{procedure.location}})</small></h3>
        <h3>{{procedure.name}} <small>({{procedure.location}})</small></h3>
        <h3>{{procedure.name}} <small>({{procedure.location}})</small></h3>
      </li>
    </ul>
  </div>

  <div id="procedure-view-container" ng-show="selectedProcedure">
    <h2>{{selectedProcedure.name}}</h2>
    <p>{{selectedProcedure.location}}</p>
  </div>
</div>

